Package: com.phillipt.lockcustomizer
Name: LockCustomizer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
Version: 0.0.1-10
Installed-Size: 48
