Package: com.phillipt.lockcustomizer
Name: LockCustomizer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customize your lockscreen!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
